version: 2.1

orbs:
  node: circleci/node@5.0.2
  docker: circleci/docker@2.1.4

jobs:
  backend_build_test:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Install backend dependencies
          command: |
            cd backend
            npm install
      - run:
          name: Run backend tests
          command: |
            cd backend
            npm test || echo "No tests"

  frontend_build_test:
    docker:
      - image: cimg/node:18.17
    steps:
      - checkout
      - run:
          name: Install frontend dependencies
          command: |
            cd frontend
            npm install
      - run:
          name: Run frontend tests
          command: |
            cd frontend
            npm test || echo "No tests"

  build_and_push_docker:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Docker images
          command: |
            docker build -t bvattikoti/cloudshop-backend:${CIRCLE_BRANCH} backend
            docker build -t bvattikoti/cloudshop-frontend:${CIRCLE_BRANCH} frontend
      - run:
          name: Push to DockerHub
          command: |
            echo "${DOCKERHUB_PASS}" | docker login -u "${DOCKERHUB_USER}" --password-stdin
            docker push bvattikoti/cloudshop-backend:${CIRCLE_BRANCH}
            docker push bvattikoti/cloudshop-frontend:${CIRCLE_BRANCH}

workflows:
  version: 2
  main_pipeline:
    jobs:
      - backend_build_test
      - frontend_build_test
      - build_and_push_docker:
          requires:
            - backend_build_test
            - frontend_build_test
          filters:
            branches:
              only: main    # push images only from main branch